<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CsvFilePath" value="C:\Users\Avnon\Desktop\CsvZooFile.json"/>
    <add key="JsonFilePath" value="C:\Users\Avnon\Desktop\JsonZooFile.json"/>
    <add key="SaveFileType" value="Json"/>
	<add key="LoggerType" value="EventLogger" />
	<add key="ApplicationLogSource" value="ZooConsoleLogSource"/>
	<add key="CsvLogFilePath" value="C:\Users\Avnon\Desktop\CsvLogFile.csv"/>
	<add key="EncryptedCsvLogFilePath" value="C:\Users\Avnon\Desktop\EncryptedCsvLogFile.csv"/>
  </appSettings>
</configuration>