<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CsvFilePath" value="C:\Users\zohar\OneDrive\שולחן העבודה\CsvZooFile.csv"/>
    <add key="JsonFilePath" value="C:\Users\zohar\OneDrive\שולחן העבודה\JsonZooFile.json"/>
    <add key="CsvFilePath2" value="C:\Users\turtc\Desktop\CsvZooFile.json"/>
    <add key="JsonFilePath2" value="C:\Users\turtc\Desktop\JsonZooFile.json"/>
    <add key="SaveFileType" value="Json"/>
  </appSettings>
</configuration>