<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CsvFilePath" value="C:\Users\Avnon\Desktop\CsvZooFile.json"/>
    <add key="JsonFilePath" value="C:\Users\Avnon\Desktop\JsonZooFile.json"/>
    <add key="SaveFileType" value="Json"/>
  </appSettings>
</configuration>